@charset "UTF-8";

body {
    
    margin: 0px;
}
.informacoes {
    background-color: #1F76DB ;
    height: 30px;
    width: 100%;
}

.cabeçalho_text {
    font-family: Arial, Helvetica, sans-serif;
    color :#fff;
    font-size: 10px;
    margin-bottom: 10px;
    padding-left: 26px;
}
.text_img{
    margin-top: 0px;
    display: inline-block;
    padding-right: 10px;
}
.img_cabecalho{
    position: absolute;
    padding-top: 5px;
    height: 20px;
    width: 20px;
}
#redes{
    position: absolute;
    left: 93%;
    top: 0%;
    width: 68px;
    height: 29px;
    display: inline-block;
}
.img_redes{
    padding-top: 5px;
    height: 20px;
    width: 20px;
}
.bg{
    background-image: url("../imagens/FundoConsultas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    width: 94%;
    margin: 0 auto;
}
.cabecalhoPrincipal{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(255, 255, 255, 0.726);
    padding: 6px 0;
    box-shadow: 0px 2px 2px 0px rgba(128, 128, 128, 0.21);

}
.cabecalhoPrincipal img{
    width: 35px;
}
.cabecalho-nav{
    display: flex;
}
.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalhoPrincipal a{
    margin-right: 30px;
}
.cabecalhoPrincipal h1{
    margin: 0px;
    font-size: 20px;
    color: #16b9f5;
    text-shadow: 1px 1px 2px #00000073;
    position: absolute;
    margin-left: 3%;
}
.conteudoPrincipal{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.titulo{
    font-size: 35px;
    color:#4f5153;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
hr{
    height: 5px;
    width: 190px;
    background-color: #1F76DB;
    border-style: none;
}
#listaConsultas{
    background-color: rgba(255, 255, 255, 0.719);
    margin-top: 40px;
    height: 500px;
    margin-bottom: 50px;
}
.subtitulo{
    font-size: 25px;
    color: #1F76DB;
    margin: 0%;
    padding: 50px 20px 50px 20px ;
}
.tabela-lista{
    text-align: justify;
    color: #fff;
    background-color: #1F76DB;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    font-weight: normal;
    

}
.AgendarConsulta{
    text-align: center;
    width: 500px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.836);
    margin: 0 auto;
}
#medico{
    height: 400px;
}
.input-agendar{
    width: 300px;
    height: 40px;
    background-color: #e5e5e5;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 5%;
    box-shadow: 2px 2px 5px 0px rgba(119, 119, 119, 0.562);
}
.btn{
    background-color: #1F76DB;
    border: none;
    color: #fff;
    width: 50%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px rgba(119, 119, 119, 0.562);   
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.637);
    color: #1F76DB;
    box-shadow: 2px 2px 5px 0px rgba(119, 119, 119, 0.562);
}

.card1{
    width: 80%;
    background-color: white;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin-top: 25px;
}
.card2{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.TxtLado{
    margin-left: 10px;
    color: #1858F2;
    font-weight: bold;
}